<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Form</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">S'authentifier</button>

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    </form>
</body>
</html>