{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Information du client</h4>
        </div>
        <div class="card-body">
            <p> {{client.username}} -- {{client.first_name}} -- {{client.last_name}} -- {{client.age}} </p>


            <h4 class="text-center bg-info">Information des commandes</h4>
            
            {% if commandes %}
                {% for commande in commandes %}
                    <p>{{ commande.created_at | date }}</p>
                    <p>{{ commande.numero_commande }}</p>

                    {% for produit in produits %}
                        <p>{{ produit.libelle }}</p>
                        <p>{{ produit.prix }}</p>
                    {% endfor %}
                {% endfor %}

            {% else %}
            <p>Il n'existe pas de commande en base</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}